[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
certifi = "*"
ipykernel = "*"
faker = "*"
bs4 = "*"
confluent-kafka = {version = ">=1.4.2", extras = [ "avro", "json", "protobuf",]}
wget = "*"

[dev-packages]
flake8 = "*"
autopep8 = "*"
requests-futures = "*"
pandas = "*"

[requires]
python_version = "3.8"
