# Required connection configs for Kafka producer, consumer, and admin
bootstrap.servers=pkc-zpjg0.eu-central-1.aws.confluent.cloud:9092
security.protocol=SASL_SSL
sasl.mechanisms=PLAIN
sasl.username=QDZZ42RTGGFNRECJ
sasl.password=WI3qLYvqbwH/B3jRoj7c8WLqjUXu1tNa41oQebC6wM4lzU0704JX5520Ss/n6VDD

# Best practice for higher availability in librdkafka clients prior to 1.7
session.timeout.ms=45000
